body {
  background-color: #eeeeee;
  overflow-x: hidden;
}
.container {
  position: absolute;
  padding: 2px;
  background-color: black;
  color: white;
  display: inline-flex;
  width: 100%;
  left: 0px;
  top: 0%;
  right: -100px;
  font-size: 12px;
}
.p_div {
  margin-left: 10px;
}
.p_div2 {
  margin-left: 1300px;
  display: inline-flex;
}
.register {
  margin-left: 1500px;
  display: inline-flex;
}
.heart {
  margin-top: 13%;
}
.user {
  margin-top: 13%;
}
.container2 {
  display: inline-flex;
  font-family: "Bebas Neue", cursive;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.nav-items {
  display: inline-flex;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 25px;
}
.space {
  margin-left: 50px;
}
.space1 {
  margin-left: 50px;
}
.search {
  margin-top: 20px;
}
.cart {
  margin-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #000000;
  padding: 5px;
  width: 50%;
  margin: 5px auto;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #ffffff;
  padding: 5px;
  width: 50%;
  border: solid 1px rgb(189, 189, 189);
  margin: 5px auto;
}
.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.grid-item {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 920px;
  height: 600px;
}
.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: #ffffff00;
  color: black;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
}
.grid-item3 {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.grid-item3:hover {
  cursor: pointer;
}
.product-description {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  width: 50%;
  margin: 120px auto;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 50%,
    rgba(251, 251, 251, 0) 100%
  );
}
.description {
  width: 70%;
  text-align: center;
  margin: 20px auto;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first-footer {
  position: absolute;
  padding: 10px;
  background-color: rgb(26, 26, 26);
  color: white;
  display: inline-flex;
  width: 100%;
  left: 0px;
  right: -100px;
  font-size: 12px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-top: 115px;
}
.icons {
  display: inline-flex;
  margin-left: 450px;
  margin-top: 20px;
}
.logo1 {
  margin-left: 32px;
}
.newsletter {
  display: inline-flex;
  margin-left: 100px;
}
.sign-par {
  margin-left: 10px;
  font-size: 15px;
}
.form1 {
  display: inline-flex;
  margin-left: 20px;
  height: 40px;
  margin-top: 12.5px;
}
input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
input[type="text"] {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0px;
}
.last-footer {
  position: absolute;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: inline-flex;
  width: 100%;
  left: 0px;
  right: -50px;
  font-size: 12px;
  margin-top: 203px;
  font-family: "Bebas Neue", cursive;
}
.copy-par {
  margin-top: 30px;
  margin-left: 300px;
  font-size: 17px;
}
.span-les {
  color: #4caf50;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #4caf50;
}

a:active {
  text-decoration: none;
  color: #4caf50;
}
.form2 {
  margin: 100px 45%;
}
.form_div {
  width: 100%;
  text-align: center;
}
#reglink {
  color: white;
}
#reglink:hover {
  text-decoration: none;
  color: #4caf50;
}
.thank-you {
  margin: 173px auto;
  text-align: center;
}
